CORS_ORIGIN = http://localhost:3000,http://localhost:3001
DATABASE_URL = "postgres://username:password@localhost:port/database"
EMAIL_USER = "name@gmail.com"
EMAIL_PASS = "XXXX XXXX XXXX XXXX"
PORT = 8080